<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary" style="color: white !important; ">VietNam
                    Rent-a-Car</h4>
                <h1 class="mb-5 display-3 text-primary"
                    style="color: white !important; -webkit-text-stroke: 1px black;">Your Car, Your Way</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="text"
                        style="border-color: black !important;" placeholder="Search">
                    <button type="submit"
                        class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100"
                        style="top: 0; right: 25%; border-color: black !important; color: white !important; background-color:black !important">Submit
                        Now</button>
                </div>
            </div>

        </div>
    </div>
</div>