<div class="container-fluid text-white-50 footer pt-5 mt-5" style="background-color: black;">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgb(255, 255, 255) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="mb-0" style="font-size: 50px; color:white;">VietNam Rent-a-Car</h1>
                        <p class="mb-0" style="color:white;">Your car, your way</p>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="d-flex justify-content-end pt-3" style="gap: 10px">
                        <a class="btn custom-btn py-2 px-4 rounded-pill btn-circle" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/lam.nguyentrong.904"
                            class="btn custom-btn py-2 px-4 rounded-pill btn-circle" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="https://www.youtube.com/@lamnguyentrong4176"
                            class="btn custom-btn py-2 px-4 rounded-pill btn-circle" href=""><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn custom-btn py-2 px-4 rounded-pill btn-circle" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Why People Like us!</h4>
                    <p class="mb-4">Every journey becomes easier with our caring service, fair prices, and dedicated
                        support team.</p>
                    <a href="" class="btn custom-btn py-2 px-4 rounded-pill">Read
                        More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Our Info</h4>
                    <a class="btn-link" href="">About Us</a>
                    <a class="btn-link" href="">Contact Us</a>
                    <a class="btn-link" href="">Privacy Policy</a>
                    <a class="btn-link" href="">Terms & Condition</a>
                    <a class="btn-link" href="">Return Policy</a>
                    <a class="btn-link" href="">FAQs & Help</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Account</h4>
                    <a class="btn-link" href="">My Account</a>
                    <a class="btn-link" href="">Company details</a>
                    <a class="btn-link" href="">Rental Cart</a>
                    <a class="btn-link" href="">Wishlist</a>
                    <a class="btn-link" href="">Rent History</a>
                    <a class="btn-link" href="">International Rentals</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>Address: Ha Noi, Viet Nam</p>
                    <p>Email: LAM.NT225204@sis.hust.edu.vn</p>
                    <p>Phone: +8487 770 7681</p>
                    <p>Payment Accepted</p>
                    <img src="/client/img/payment.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid copyright py-4" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span style="color: black;"><a href="#" style="color: black;"><i class="fas fa-copyright me-2"
                            style="color: black;"></i>VietNam
                        Rent-a-Car</a>, All right reserved.</span>
            </div>
            <div class="col-md-6 my-auto text-center text-md-end" style="color: black;">
                Designed By <a class="border-bottom" style="color: black;"
                    href="https://www.facebook.com/lam.nguyentrong.904">NTLam</a> for
                <a class="border-bottom" style="color: black;" href="https://themewagon.com">Project</a>
            </div>
        </div>
    </div>
</div>