<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Viet Nam Rent a Car 2025</div>
            <div>
                <a href="https://www.facebook.com/lam.nguyentrong.904" target="_blank">Admin
                    contact</a>
                &middot;
                <a href="https://www.youtube.com/@lamnguyentrong4176" target="_blank">Youtube
                    channel</a>
            </div>
        </div>
    </div>
</footer>